.navbar{
    background-color:black;
}

.text-white{
    color: white;
}

.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.322);
}

.dropdown-item{
    color: white;
}

.fundo{
    background-color: rgb(212, 198, 198);
}

.row{
    background-color: white;
}

.mg1{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.mg2{
    margin-top: 10px;
    margin-left: 20px;
}

.separacao{
    height: 10px;
    background-color:rgb(209, 0, 0);
}

.buell{
    margin-top: 10px;
    margin-left:50px;
    margin-bottom: 10px
}

.txt1{
    margin-top:70px;
}
.txt2{
    margin-top: 60px;
}
.txt3{
    margin-top: 60px;
}
.txt4{
    margin-top: 40px;
}
.txt5{
    margin-top: 60px;
}

.bottom{
    background-color: black;
    margin-right: auto;
}
.rod1{
    margin-top: 10px;

}