<body class="fundo">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Motors-TDS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Contato</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Estilos de Motos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Naked</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Carenada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Custom</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Trail</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Touring</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Digite sua busca aqui" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www3.yamaha-motor.com.br/file/v8624271125413218280/products/30049-todo-terreno-crosser-150-s-faixa05-v01-yamaha.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v6298096892103815357/products/30022.faixa5.detalhe.desktop.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v4531371620861474055/products/30035.faixa5.detalhe.desktop.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="separacao">
  </div>
  <div class="container">
    <div class="row mg1">
      <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIqMRICvPLliDRxHropmn-gmpBZXQoPHj-Ay4Kpx5v2YEpdVrS9lpMWQrLRIdBp1u2xg&usqp=CAU" alt="" class="buell">
      </div>
      <div class="col-8 txt1">
        <h5>
        Naked, um estilo de moto para um uso mais urbano do que na pista ou na terra. Ter menos carenagens a torna ágil, menos larga e mais leve, o que para andar no transito da cidade e em saidas de semáfaro se torna uma grande vantagem.
        </h5>  
      </div>
    </div>
    <div class="row mg2">
      <div class="col-8 txt2">
        <h5>
          Carenadas, são motos feitas para quem quer adrenalina a alta velocidade, onde sua engenharia e aerodinãmica tem como principal manter-la no chão sem perda de desempenho. Buscar mais potência e menos peso a cada ano que passa, essa é a meta e seu propósito.
        </h5>
      </div>
      <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIqMRICvPLliDRxHropmn-gmpBZXQoPHj-Ay4Kpx5v2YEpdVrS9lpMWQrLRIdBp1u2xg&usqp=CAU" alt="" class="buell">
      </div>
    </div>
    <div class="row mg1">
      <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIqMRICvPLliDRxHropmn-gmpBZXQoPHj-Ay4Kpx5v2YEpdVrS9lpMWQrLRIdBp1u2xg&usqp=CAU" alt="" class="buell">
      </div>
      <div class="col-8 txt3">
        <h5>
          Trail, vento e terra são praticamente o combústivel de uma verdadeiramente e aventureira trail. Fãns de Offroad ou ciddões com asfalto brasileiro, são o publico alvo desses modelos, sua suspenção e guidão alto a deixa confortável e reduz a transmição das inperfeições do solo para o piloto.
        </h5>
      </div>
    </div>
    <div class="row mg2">
      <div class="col-8 txt4">
        <h5>
          Scooters, uma ótima opção para um uso urbano tranquilo, diferenciando-se de uma naked. Sem necessidade de atravessar entre carros e saidas bruscas de semáfaro, o dono de uma scooter presa conforto e praticidade, podendo guardar sua bolsa ou capacete na própria moto sem necessidade de bauleto externo, é uma exemplo da praticidade das scooters. 
        </h5> 
      </div>
      <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIqMRICvPLliDRxHropmn-gmpBZXQoPHj-Ay4Kpx5v2YEpdVrS9lpMWQrLRIdBp1u2xg&usqp=CAU" alt="" class="buell">
      </div>
    </div>
    <div class="row mg1">
      <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIqMRICvPLliDRxHropmn-gmpBZXQoPHj-Ay4Kpx5v2YEpdVrS9lpMWQrLRIdBp1u2xg&usqp=CAU" alt="" class="buell">
      </div>
      <div class="col-8 txt5">
        <h5>
          Uma carenada com conforto para viagens? certamente é uma touring. Posuindo carenagens e um entre eixo maior, as touring ganham conforto para viagens em velocidade de cruseiro mas perdem em agilidade, o que as torna mais estradeiras do que urbanas.
        </h5>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row bottom">
      <div class="col-4 rod1 text-center text-white">
        <p>Contate-nos</p>
      </div>
      <div class="col-4 rod1 text-center text-white">
        <p>Email@exemplo.com</p>
      </div>
      <div class="col-4 rod1 text-white text-center">
        <p>No mande suas sujestões</p>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-4 text-center text-white">
        <p>Twitter</p>
        <p>Instagran</p>
        <p>Facebook</p>
      </div>
      <div class="col-4 text-center text-white">
        <p>@nomeexemplo</p>
        <p>@outroexemplo</p>
        <p>nomeexemplo</p>
      </div>
      <div class="col-4 text-white text-center">
        <p>Em caso de duvida ou queixa</p>
        <p>Entre em contato por nossas redes sociais</p>
        <p>E chame-nos no chat</p>
      </div>
    </div>
  </div>

</body>